.App {
  text-align: center;
}

.new-note {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-note * {
  width: 20vw;
}

.notes-list {
  height: 40vh;
  overflow-y: scroll;
  margin-top: 1em;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}